.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  width: 50%;
}

#chatInputContainer {
  margin: 30px;
}

#messageWindow {
  border: 1px solid black;
  border-radius: 5px;
  width: 80%;
  margin: 20px auto;
  min-height: 50px;
}

ul {
  list-style: none;
}

#connected {
  color: green;
}

#disconnected {
  color: red;
}

.message {
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
}

.name{
  text-align: left;
  font-weight: bold;
}

.connectionMessage {
  background-color: rgb(199, 199, 199);
  margin: 7px auto;
}

.myMessages{
  background-color: rgb(119, 238, 113);
  margin-left: auto;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 10px;
}

.externalMessages{
  background-color: rgb(238, 204, 103);
  margin-right: auto;
  margin-top: 7px;
  margin-bottom: 7px;
}

#mainTitle{
  font-size: 40px;
  font-weight: bold;
}

#signIn{
  margin: 30px auto;

}

button {
  margin: 0 5px;
}

#connectionHeader{
  margin: 10px auto;
}

#chatInputContainer{

}
